:root {
    --brand-color1: #FDC435;
    --brand-color2: #E8ECF4;
    --high-emphasis: #25282B;
    --medium-emphasis: #828282;
    --low-emphasis: #9A9FA8;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  } 

@media (max-width: 1300px) {
    #main-image, #main-image-2{
      max-width: 50%;
    }
} 

html {
    background-color: var(--brand-color2);
    
}

main, footer {
    padding-right: 7%;
    padding-left: 7%;
    
}


#projects, #contacts, footer {
    text-align: center;
}

#main-image, #main-image-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

h1 {
    color: var(--high-emphasis);
    font-family: serif;
    margin: 0;
    font-size: 5vw;
}

h2 {

}

h3 {

}

.intro-text {
    width: 45%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left; 
    z-index: 99;
}

h4 {
    font-family: 'Nunito';
    color: var(--brand-color1); 
    /* text-align: left; */
}

.subtile-paragraph {
    font-family: 'Nunito';
}

p {
    font-family: Georgia;
}


#intro-button-1, #submit, #resume-button {
    width: 7em;
    height: 2em;
    background-color: var(--brand-color1);
    color: var(--high-emphasis);
    border-radius: 15%;
    border: 0;
    font-size: large;
    
}

#intro-button-2 {
    width: 7em;
    height: 2em;
    margin-left: 10px;
    background-color: transparent;
    color: var(--high-emphasis);
    border-radius: 15%;
    /* border: 100 solid var(--high-emphasis);  */
    font-size: large;
}

.subtile-button {
    width: 7em;
    height: 2em;
    margin-left: 10px;
    background-color: transparent;
    color: var(--high-emphasis);
    border-radius: 50%;
    /* border: 100 solid var(--high-emphasis);  */
    font-size: large;
}

.project-block {
    background-color: white;
    border-radius: 10%;
    box-shadow: 0 0 5px 1px var(--low-emphasis);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

#projects {
    margin-top: 200px;
}

header {
    padding-right: 7%;
    padding-left: 7%;
    width: 86%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.nav-text {
    color: var(--high-emphasis);
    font-family: 'Comfortaa';
    z-index: 999;
}

nav {
    width: 60%;
    max-width: 500px;
    height: 50px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    color: var(--high-emphasis);
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover, nav > ul > li:visited {
    color: var(--low-emphasis);
    cursor: pointer;
}

li > a {
    color: inherit; 
    text-decoration: none;
}

.underline {
    width: 120px;
    margin: 0 auto;
    border-bottom: 3px solid var(--brand-color1);
}

.social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    align-items: center;
}


 #contacts {
    margin-top: 50px;
 }

 form {
    width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2em;

 }

 label {
    display: block; 
    margin: 0.5rem 0;
    text-align: left;
 }

#footer-image {
    position: absolute;
    width: 100%;
    bottom: 0 auto;
    left: 0;
    right: 0;
}